@import "tailwindcss";
@theme {
  --font-chakra: "Chakra Petch", sans-serif;
}

.cursor-follower {
  width: 18px;
  height: 18px;
  background-color: rgba(120, 60, 20, 0.8); /* brown */
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: top 0.00s linear, left 0.00s linear;
}

/* Floating animation */
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

/* Engine wheel rotation WITHOUT translate conflict */
@keyframes rotateWheel {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* Normal rotation (slow) */
.animate-rotate {
  animation: rotateWheel 5s linear infinite;   /*  slow & smooth */
}

/* Fast rotation on hover */
.animate-rotate-fast {
  animation: rotateWheel 1s linear infinite;   /*  thoda fast, but smooth */
}


.blog ul{
    list-style: disc !important;
    margin-left: 25px;
    /* list-style-position: inside !important; */
  }
  .blog ol{
    list-style: decimal !important;
     margin-left: 25px;
    /* list-style-position: inside !important; */
  }
  
  .blog h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
      margin-top: 10px;
      margin-bottom: 4px;
  }
  .blog h2{
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 10px;
     margin-bottom: 4px;
  }
  .blog h3{
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 600;
    line-height: 28px;
     margin-top: 10px;
     margin-bottom: 4px;
  }
  
  .blog strong{
    color: white !important;
  }
 
    .blog p{
      font-size: 15px !important;
      font-weight: 400 !important;
      color: white !important;

    }
    .blog li, p span{
      font-size: 14px !important;
      font-weight: 400 !important;
          color: white !important;

    }